certifi==2023.7.22
charset-normalizer==3.2.0
exceptiongroup==1.1.2
flake8==6.1.0
html5lib==1.1
idna==3.4
iniconfig==2.0.0
mccabe==0.7.0
mechanize==0.4.8
mwparserfromhell==0.6.4
packaging==23.1
pluggy==1.2.0
pycodestyle==2.11.0
pyflakes==3.1.0
pytest==7.4.0
requests==2.31.0
six==1.16.0
tomli==2.0.1
urllib3==2.0.4
webencodings==0.5.1
